/* mulish font family */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* shared styles */
* {
  font-family: "Mulish", sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: rgb(255, 84, 0);
  border: 0;
  padding: 16px 30px;
  color: rgb(255, 255, 255);
}

/* header related styles */

.banner-section {
  background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  background-image: cover;
  background-repeat: no-repeat;
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 0 auto;
  text-align: center;
}

.banner-fields {
  padding: 100px 185px;
}

.banner-header {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-description {
  color: rgb(255, 255, 255);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
}

.banner-inputs {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: flex;
  gap: 24px;

}

.banner-inputs input {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: 0;
  padding: 16px;
}















@media screen and (max-width: 600px) {
  .banner-inputs {
    flex-direction: column;
  }

  .banner-section {
    height: 100%;
    width: 100%;
  }
    .banner-header {
      font-size: 24px;
      margin-bottom: 16px;
    }
  .banner-description{
    font-size: 14px;
    margin-bottom: 16px;
  }

  .banner-fields {
    padding: 20px;

  }

}